@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    src: url('./monsterrat/Montserrat-Regular.woff') format('woff'),
        url('./monsterrat/Montserrat-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    font-style: normal;
    src: url('./monsterrat/Montserrat-SemiBold.woff') format('woff'),
        url('./monsterrat/Montserrat-SemiBold.woff2') format('woff2');
}